<div class="about-main top-main">
  <h2>Hitrip</h2>
  <p>
　　「今日はひとりでふらっとしたい。」</br>
    Hitrip（ヒトリップ）は、そんなひとりの時間を楽しむための口コミ投稿サイトです.</br>
    おひとりさまがたのしめる"Yukuate"をみんなで投稿しよう.</p>
  <h2>Yukuate</h2>
  <p>Yukuate（ユクアテ）は、おひとりさまが楽しめるイベント・スポットのことです.</br>
    お気に入りのYukuateを投稿して、みんなにも教えてあげよう.
  </p>
  <div class = "btn">
    <%= link_to "トップに戻る", "/"%>
  <div>
</div>
