<div class="about-main top-main">
  <h2>Hitrip?</h2>
  <p>
    Hitripは、ひとりの時間を楽しむための口コミ投稿サイトです.
  </p>
  <p>
    おひとりさまがたのしめる"Yukuate"をみんなで投稿しよう.
  </p>
  <img class="about-img" src="/about-img.jpg">
  <h2>Yukuate?</h2>
  <p>
    Yukuateは、おひとりさまが楽しめるイベント・スポットのことです.
  </p>
  <p>
    お気に入りのYukuateを投稿して、みんなにも教えてあげよう.
  </p>
  <img class="about-img" src="/about-img2.jpg">
</div>
