<div class="about-main top-main">
  <h2>Hitrip?</h2>
  <p>
    Hitripは、ひとりの時間を楽しむための口コミ投稿サイトです.
  </p>
  <p>
    おひとりさまがたのしめる"ゆくあて"をみんなで投稿しよう.
  </p>
  <img class="about-img" src="/about-img.jpg">
</div>
