<div id = "background-image">
  <img src = "../FullSizeRender.jpg">
</div>
<div class="about-main">
  <h2>Hitrip</h2>
    <p>なにも予定が入っていない休日。</br>
      ちょっと腰を持ち上げて、外の世界に出てみよう。</br>
      世界にはまだあなたが知らない素敵なモノやコトに溢れてる。</br>
      </br>
      見て。</br>
      聴いて。</br>
      触れて。</br>
      感じて。</br>
      </br>
      心から楽しいと思えるような</br>
      そんな素敵な"ユクアテ"に出逢おう。</br>
      </br>
      手持ち無沙汰に過ぎていく休日を、もっと素敵な瞬間に。</br>
      ヒトリップで、今日も素敵な休日を。 </br>
    </p>
  <div class = "btn">
      <%= link_to "トップに戻る", "/"%>
  </div>
</div>
