<div class="about-main top-main">
  <h2>ひとりっぷ？</h2>
  <p>
    ひとりっぷは、ひとりの時間を楽しむための口コミ投稿サイトです.
  </p>
  <p>
    おひとりさまがたのしめる"Yukuate"をみんなで投稿しよう.
  </p>
  <img class="about-img" src="/about-img.jpg">
</div>
