<video id="bg-video" autoplay loop muted>
<source src="/bg-movie.mp4" type="video/mp4">
<source src="/bg-movie.webm" type="video/webm">
</video>

<div class="main top-main">
  <div class="top-message">
    <h3>ひとりの時間を、楽しもう</h3>
    <p>Hitripで探そう</p>
    <%= render "form" %>
    <!-- <%= form_tag("/posts/index", method: "get") do%>
    <form class="navbar-form navbar-center" role="search">
      <div class="form-group">
        <input type="date" name="date" class="form-control">
        <select name="place" class="form-control">
          <option value="">エリアを選ぶ</option>
          <option value="<都心エリア>千代田区・中央区・港区"><都心エリア>千代田区・中央区・港区</option>
          <option value="<城東エリア>江東区・墨田区・葛飾区・江戸川区"><城東エリア>江東区・墨田区・葛飾区・江戸川区</option>
          <option value="<上野エリア>台東区・荒川区・足立区"><上野エリア>台東区・荒川区・足立区</option>
          <option value="<池袋エリア>豊島区・文京区・北区・板橋区・練馬区"><池袋エリア>豊島区・文京区・北区・板橋区・練馬区</option>
          <option value="<新宿エリア>新宿区・中野区・杉並区"><新宿エリア>新宿区・中野区・杉並区</option>
          <option value="<渋谷エリア>渋谷区・世田谷区・目黒区"><渋谷エリア>渋谷区・世田谷区・目黒区</option>
          <option value="<品川エリア>品川区・大田区"><品川エリア>品川区・大田区</option>
        </select>
        <select name="category" class="form-control">
          <option value="">カテゴリを選ぶ</option>>
            <optgroup label="イベント">
              <option value="ライブ">ミュージック</option>
              <option value="アート">アート</option>
            </optgroup>
            <optgroup label="スポット">
              <option value="カフェ">カフェ</option>
              <option value="雑貨屋">公共施設</option>
              <option value="公共施設">公共施設</option>
            </optgroup>
              <option value="その他">その他</option>
        </select>
        <!-- フリーワード検索 -->
        <!-- <input type="text" class="form-control" placeholder="フリーワード"> -->
      </div>
      <button type="submit" class="btn btn-default">Yukuateを探す？
        <!-- 検索アイコン -->
        <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
      </button>
      <p><a id="modal-open" class="button-link">Yukuate?</a></p>
    </form>
    <% end %> -->

    <div id="modal-content">
      <p>Yukuateとは</p></br>
      <p>おひとりさまでも楽しめるイベントやスポットの総称です。</p></br>
      <p>お気に入りのYukuateを投稿して、みんなにも教えてあげよう。</p></br>
      <p><a id="modal-close" class="button-link">閉じる</a></p>
    </div>

  </div>
</div>
