<video id="bg-video" autoplay loop muted>
<source src="/bg-movie.mp4" type="video/mp4">
<source src="/bg-movie.webm" type="video/webm">
</video>


<div class="main top-main">
  <div class="top-message">
    <h3>ひとりの時間を、楽しもう</h3>
    <p>Hitripで探そう</p>
    <%= render "form" %>
  </div>
</div>
