<div class = "user-top">
  <%= form_tag ("user/:id") do  %>
  <div class = "user-wrapper">
    <div class = "user-img">
    </div>
    <div class = "user-name">
      <p>ユーザ名</p>
      <%= @user %>
      <input type = 'text' name = "user[name]">
    </div>
    <div class = "user-post">
      <p>投稿履歴</p>
      <%= @post %>
    </div>
    <div class = "user-comment-history">
      <p>コメント履歴</p>
      <%= @comment %>
    </div>
  </div>
  <div class = 'edit-btn'>
    <button type="submit" class="edit-btn">編集を完了する</button>
    <% end %>
  </div>
</div>
