<div class = "login-wrapper">
  <div class = "login-title">
    <h1>ログイン</h1>
  </div>
  <%= form_tag("user/login") do %>
  <div class = "login-user_email">
    <p>メールアドレスを入力</p>
    <input name = 'email' >
  </div>
  <div class = "login-user_email">
    <p>パスワードを入力</p>
    <input name = 'password'>
  </div>
  <button type = 'submit' class = 'login-btn'>ログインする</button>
  <% end %>
</div>
