<div class="container">
  <div class="row">
    <input type="text" name="title" placeholder="タイトル" class="form-control" value="<%= @post.title %>">
    <input type="file" name="image" class="form-control">
    <input type="date" name="date" class="form-control" value="<%= @post.date %>">
    <select name="place" class="form-control">
      <option value="">エリア</option>
      <optgroup label="都心エリア">
        <option value="千代田区">千代田区</option>
        <option value="中央区">中央区</option>
        <option value="港区">港区</option>
      </optgroup>
      <optgroup label="城東エリア">
        <option value="江東区">江東区</option>
        <option value="墨田区">墨田区</option>
        <option value="葛飾区">葛飾区</option>
        <option value="江戸川区">江戸川区</option>
      </optgroup>
      <optgroup label="上野エリア">
        <option value="台東区">台東区</option>
        <option value="荒川区">荒川区</option>
        <option value="足立区">足立区</option>
      </optgroup>
      <optgroup label="池袋エリア">
        <option value="豊島区">豊島区</option>
        <option value="文京区">文京区</option>
        <option value="北区">北区</option>
        <option value="板橋区">板橋区</option>
        <option value="練馬区">練馬区</option>
      </optgroup>
      <optgroup label="新宿エリア">
        <option value="新宿区">新宿区</option>
        <option value="中野区">中野区</option>
        <option value="杉並区">杉並区</option>
      </optgroup>
      <optgroup label="渋谷エリア">
        <option value="渋谷区">渋谷区</option>
        <option value="世田谷区">世田谷区</option>
        <option value="目黒区">目黒区</option>
      </optgroup>
      <optgroup label="品川エリア">
        <option value="大田区">大田区</option>
        <option value="品川区">品川区</option>
      </optgroup>
    </select>
    <select name="category" class="form-control">
      <option value="">カテゴリ</option>
      <optgroup label="見にいく">
        <option value="映画">映画</option>
        <option value="アート＆カルチャー">アート＆カルチャー</option>
      </optgroup>
      <optgroup label="聴く">
        <option value="ライブ">ライブ</option>
        <option value="コンサート">コンサート</option>
        <option value="フェス">フェス</option>
      </optgroup>
      <optgroup label="ぶらぶらする">
        <option value="街並み">街並み</option>
        <option value="動物園/水族館">動物園/水族館</option>
        <option value="ショッピング">ショッピング</option>
      </optgroup>
      <optgroup label="食を堪能する">
        <option value="ごはん">ごはん</option>
        <option value="お酒">お酒</option>
        <option value="カフェ/スイーツ">カフェ/スイーツ</option>
      </optgroup>
      <optgroup label="癒される">
        <option value="カフェ">カフェ</option>
        <option value="パワースポット">パワースポット</option>
        <option value="公園/広場">公園/広場</option>
        <option value="温泉/岩盤浴">温泉/岩盤浴</option>
        <option value="マッサージ">マッサージ</option>
      </optgroup>
        <option value="その他">その他</option>
    </select>
      <textarea name="content" placeholder="そこではどんな素敵なモノやコトに出逢えますか？" class="form-control"><%= @post.content %></textarea>
  </div>
</div>
