<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Yukuateの編集</h1>
    <div class="form-error">
    </div>
    <%= form_tag "/posts/#{@post.id}/update", multipart: true do %>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= render "form" %>
        <input type="submit" value="編集を終える" class="form-control">
        <div class = "btn user-edit-btn"><%= link_to("投稿を削除する", "/posts/#{@post.id}/destroy", {method: "post"}) %></div>
      </div>
    </div>
    <% end %>
  </div>
</div>
