<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to post.title, "/posts/#{post.id}" %>
        <div class="posts-img">
          <img src="<%= "/posts_images/#{post.image_name}.jpg" %>">
        </div>
        <i class="fa fa-map-marker" aria-hidden="true"></i><%= post.place %></br>
        <i class="fa fa-calendar" aria-hidden="true"></i><%= post.date %>
      </div>
      <% end %>
  </div>
</div>

