<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Yukuateを投稿する</h1>
    <%= form_tag("/posts/create", {multipart: true}) do %>
    <div class="form">
      <div class="form-body">
        <div class="form-error">
          <% @post.errors.full_messages.each do |message| %>
          <%= message %>
          <% end %>
        </div>

        <%= render "form" %>

          <input type="submit" value="投稿する" class="btn form-control">
        </div>
      </div>
    <% end %>
  </div>
</div>
