// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*共通 */
h2{
    color: #626063;
    font-size: 20px;
    font-weight: 600;
}

.user-container{
  max-width: 600px;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
}

.user-container a{
  font-weight: 600;
  overflow: hidden;
  color: #72640c;
}

.user-container a:hover{
  color: #edde7b;
}

// ユーザ詳細ページ
 .user-show-wrapper{
    text-align: center;
}

.user-img img{
    width: 160px;
    height: 160px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    margin: 20px 0 10px;
    object-fit: cover;
}

.user-show-wrapper h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

 .user-post-history {
    max-width: 600px;
    margin: 60px auto;
    clear: both;
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 8px 6px -6px #c1ced7;
  }

  .user-comment-history {
    max-width: 600px;
    margin: 60px auto;
    clear: both;
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 8px 6px -6px #c1ced7;
  }

.user-edit-btn a {
  padding: 20px 30px;
  background-color: #202f55;
  border-radius: 4px;
  color: #bcc7d7
}

.user-edit-btn a:hover {
  padding: 20px 30px;
  background-color: #043c78;
  border-radius: 4px;
  color: #fff
}


/* ログインページ */
  .login-wrapper{
    text-align: center;
    max-width: 600px;
    margin: 60px auto;
    padding: 20px 30px;
  }

  .login-wrapper h2{
    color: #626063;
    font-size: 20px;
    font-weight: 600;
  }

  .login-wrapper h1{
    font-size: 23px;
  }

  .login-form{
    padding: 30px;
    margin: 15px;
  }

/*  新規登録ページ */
.user-registration-wrapper{
  text-align: center;
  max-width: 600px;
  margin: 60px auto;
  padding: 10px 10px;
}

.user-registration-wrapper h2{
  color: #626063;
  font-size: 20px;
  font-weight: 600;
}


/* タブメニュー */
#tab-menu {
  list-style: none;
}
#tab-menu li {
  display: inline-block;
  padding: 5px 25px;
  background: #eee;
}
#tab-menu li.active {
  background: #000;
  color: #fff;
}

/* タブの中身 */
#tab-box {
  padding: 25px;
  border: 5px solid #000;
}
#tab-box div {
  display: none;
}
#tab-box div.active {
  display: block;
}
