// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*共通 */


h2{
    color: #626063;
    font-size: 20px;
}

.user-container{
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
  padding-bottom: 20px;
  margin: auto;
}

.user-container h1{
  font-size: 40px;
}

.user-container h2{
  font-size: 20px;
}


.user-container a{
  font-size: 18px;
  overflow: hidden;
  color: #979499;
}

.user-container a:hover{
  color: #626063;
}

// ユーザ詳細ページ
 .user-show-wrapper{
  text-align: center;
  background-color: #fff;
}

.user-top-main {
  padding: 100px 0 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color:#626063;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  // 動画背景にする場合
  // background: rgba(0, 0, 0, 0)
}

.user-img img{
    width: 160px;
    height: 160px;
    border-radius: 30%;
    margin: 10px;
    object-fit: cover;
}

.user-show-wrapper h2{
    font-size: 20px;
    line-height: 1.2;
}

 .user-post-history {
    max-width: 600px;
    margin: auto;
    clear: both;
    padding: 20px 30px;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #d3d6dd;
  }

  .user-comment-history {
    max-width: 600px;
    margin: auto;
    clear: both;
    padding: 20px 30px;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #d3d6dd;
  }

  .user-bookmark-history {
    max-width: 600px;
    margin: auto;
    clear: both;
    padding: 20px 30px;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #d3d6dd;
  }

.user-edit-btn{
  margin: 30px auto;
  padding: 20px 30px;
  background-color: #6c9bd2;
  border-radius: 4px;
  max-width: 50%;
}

.user-edit-btn:hover{
  background-color: #b2cbe4;
  color: #4e454a;
}

.user-edit-btn a{
  color: #4e454a;
}


/* ログインページ */
  .login-wrapper{
    text-align: center;
    max-width: 600px;
    margin:60px auto;
    padding: 20px 30px;
  }

  .login-wrapper h2{
    color: #626063;
    font-size: 20px;
    font-weight: 600;
  }

  .login-wrapper h1{
    font-size: 23px;
  }

  .login-form{
    padding: 30px;
    margin: 15px;
  }

/*  新規登録ページ */
.user-registration-wrapper{
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 10px 10px;
}

.user-registration-wrapper h2{
  color: #626063;
  font-size: 20px;
  font-weight: 600;
}

/* ユーザ編集ページ */
.user-wrapper h2{
  color: #626063;
  font-size: 20px;
}

.user-wrapper {
  background-color: #fff;
}


/* タブメニュー */
#tab-menu {
  list-style: none;
}
#tab-menu li {
  display: inline-block;
  padding: 5px 25px;
  color: #626063;
  cursor:pointer;
}
#tab-menu li.active {
  border-bottom: 2px solid #6c9bd2;
}

/* タブの中身 */
#tab-box {
  padding: 25px;
  border-top: 2px solid #d3d6dd;
}
#tab-box div {
  display: none;
}
#tab-box div.active {
  display: block;
}
