<div class = "user-edit-wrapper top-main">
  <%= form_tag ("/user/#{@user.id}"), {:method => :patch}, {multipart: true} do %>
    <div class = "user-container">
      <div class = "user-img">
        <input name = "image_name" type = "file">
      </div>
      <div class = "user-name">
        <h2>ユーザ名</h2>
        <input name = "user_name" value = "<%=@user.user_name%>">
      </div>
      <div class = "user-post-history">
        <h2>メールアドレス</h2>
        <input name = "email" value = "<%=@user.email%>">
      </div>
      <div class = "user-comment-history">
        <h2>パスワード</h2>
        <input name = "password" value = "<%=@user.password%>">
      </div>
    </div>
      <div class = 'edit-btn'>
        <input type = "submit" value = "編集を完了する">
      </div>
  <% end %>
</div>
</div>
