<div class = "user-wrapper top-main">
  <%= form_tag("/user/login") do %>
  <div class = "user-container">
    <div class = "login-title">
      <h1>ログイン</h1>
    </div>
      <div class = "login-user-email">
        <h2>メールアドレスを入力</h2>
        <input name = "email" type="text" placeholder="メールアドレス" class="form-control" style="width: 300px; margin-left: auto; margin-right: auto;">
      </div>
      <div class = "login-user-password">
        <h2>パスワードを入力</h2>
        <input type = "password" name = "password" placeholder="パスワード" class="form-control" style="width: 300px; margin-left: auto; margin-right: auto;">
      </div>
  </div>
  <input type = "submit" value = "ログインする" class ="btn user-edit-btn">
  <% end %>
</div>
