<div class = "user-registration-wrapper top-main">
  <%= form_tag "/user", multipart: true do %>
    <div class = "container">
    　　<h2>ユーザ情報を入力してください。</h2>
      <div class = "user-img">
        <input name = "image_name" type = "file">
      </div>
      <div class = "new-user-name">
        <input name = "user_name" type="text" placeholder="ユーザ名" class="form-control flat">
      </div>
      <div class = "new-user-email">
        <h2></h2>
        <input name = "email" type="text" placeholder="メールアドレス" class="form-control flat">
      </div>
      <div class = "new-user-password">
        <h2></h2>
        <input name = "password" type="password" placeholder="パスワード" class="form-control flat">
      </div>
    </div>
      <div class = "registration-submit">
        <input type="submit" value = "登録する" class= "form-control flat">
      </div>
  <% end %>
  </div>
