<div class = "user-wrapper top-main">
  <%= form_tag "/user", multipart: true do %>
    <div class = "container">
      <div class="form-error">
        <% @user.errors.full_messages.each do |message| %>
        <%= message %>
        <% end %>
      </div>
        <h1>新規登録する</h2>
        <h2>ユーザ情報を入力してください。</h2>
      <div class = "user-img">
        <input name = "image" type = "file" class = "form-control">
      </div>
      <div class = "new-user-name">
        <input name = "user_name" type="text" placeholder="ユーザ名" class="form-control">
      </div>
      <div class = "new-user-email">
        <h2></h2>
        <input name = "email" type="text" placeholder="メールアドレス" class="form-control">
      </div>
      <div class = "new-user-password">
        <h2></h2>
        <input name = "password" type="password" placeholder="パスワード" class="form-control">
      </div>
    </div>
      <div class = "registration-submit">
        <input type="submit" value = "登録する" class= "form-control flat">
      </div>
  <% end %>
  </div>
