<div class = "user-show-wrapper">
  <div class = "user-container">
    <div class = "user-img">
    </div>
    <div class = "user-name">
      <h2><%= @user.user_name %></h2>
    </div>
  </div>
    <div class = "user-post-history">
      <h2>投稿履歴</h2>
      <% @post.each do |post| %>
      <%= link_to "#{post.content}", "/posts_alternation" %>
      <% end %>
    </div>
    
    <div class = "user-comment-history">
      <h2>コメント履歴</h2>
      <div class = 'edit-btn'>
        <% @comment.each do |comment| %>
        <%= comment.content %>
        <% end %>
      </div>
    <%= link_to("編集する", "/user/#{@user.id}/edit") %>
    </div>
  
 </div> 