<!-- 登録情報の表示画面 -->

<div class = "user-show-wrapper">
  <div class = "user-show-container">
    <div class = "user-img">
    </div>
    <div class = "user-name">
      <p>ユーザ名</p>
      <%= @user.user_name %>
    </div>
    <div class = "user-post">
      <p>投稿履歴</p>
      <% @post.each do |post| %>
      <%= post.content %>
      <% end %>
    </div>
    <div class = "user-comment-history">
      <p>コメント履歴</p>
      <div class = 'edit-btn'>
      <% @comment.each do |comment| %>
      <%= comment.content %>
      <% end %>
    </div>
    <%= link_to("編集する", "/user/#{@user.id}/edit") %>
  </div>
